.App {
  font-family: sans-serif;
  text-align: center;
  background-color: gold;
  margin: -1rem;
  padding: 2rem;
}

input {
  padding: 1rem;
  margin: 0rem auto;
  width: 50vw;
  border: 1.5px solid black;
}

h2 {
  background-color: rgb(0, 0, 0);
  width: 50vw;
  margin: auto;
  color: white;
}

.mod {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-family: monospace;
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}